<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="RC2">Enter your Password:</label>
            <input type="text" name="RC2" id="RC2" required />
            <button type="submit">Login</button>
        </form>

        >

        <p>Don't have an account? Contact the admin.</p>
    </div>
</body>
</html>
